body {
    background-color: rgba(247, 239, 214, 0.692);}
h1.title{
    color:rgb(190, 107, 39);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

div.intro {
    color: rgba(255, 255, 255, 0.836);
    padding: 10px;
    height: auto;
    margin: auto;
    background-color: rgb(190, 107, 39);
}

table {
    border-collapse: collapse;
    width: auto;
    height: auto;
    margin-bottom: 5%;
}
td, th {
    color: black;
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    padding: 5px;
}

div.link {

    margin-bottom: 15px;
}

a:link {
    color: darkred;
    font-size: medium;
    font-weight: bolder;
}

a:hover {
    color: rgba(255, 255, 255, 0.836);
    background-color: rgb(190, 107, 39);
    border:rgb(190, 107, 39) solid 1px;
    font-size: medium;
    font-weight: bolder;
}